@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #ffeab4;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0 2rem;
}

.editor-wrap {
    max-width: 600px;
    margin: 1rem auto;
}

#editor-bar, #preview-bar {
    background-color: #f3d996;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 2px #7a784b;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    height: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#editor, #preview {
    background-color: #F5E8C7;
    width: 100%;
    min-height: 200px;
    box-shadow: 1px 1px 10px 2px #7a784b;
}

#editor {
    resize: vertical;
    padding: 0.5rem;
}

#editor:focus {
    outline: none;
}

.preview-wrap {
    max-width: 800px;
    margin: 1rem auto;
}

#preview {
    border-width: 0 1px 1px 1px;
    border-color: black;
    border-style: solid;
    padding: 1.5rem;
    text-align: left;
    line-height: 1.5;
}

#preview table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#preview img {
    max-width: 100%;
    margin: 1.5rem auto;
}

#preview ul, ol {
    list-style-position: inside;
}

.expand {
    height: 100vh;
}

#preview code {
    font-weight: bold;
    background-color: white;
}

blockquote {
    border-left: 3px solid black;
    margin-left: 15px;
}

blockquote p {
    margin-left: 5px;
}

ul ul {
    list-style-type: circle;
    margin-left: 10px;
}

ul ul ul {
    list-style-type: square;
}
